<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <style>
    @import
    url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
    * { font-family: 'Poppins', sans-serif; } .container { width: 360px;
    background-color: deepskyblue; } h4 { text-align: center; color: red; } img
    { width: 250px; height: 250px; margin: 10px auto; }
  </style>

  <body>
    <section class="container">
      <h3>Dear Student,</h3>
      <p>Congratulations on getting selected for the
        {{company}}
        for package of
        {{package}}
        lpa . May your new job bring you more opportunities and success! Best
        wishes to you! We firmly believe that this is one of its kind
        opportunity, post offer acceptance each student would be assigned a
        mentor, who will work with them at a pace comfortable to them to
        familiarize them on various aspects of our organization and its growth
        plans.</p>
      <img
        src="https://img.freepik.com/free-vector/card-template-with-fireworks-party-horns_1308-3021.jpg"
      />

      <br />
      <br />

      <p>Thanks & Regards</p>
      <p>Zoya Choudhary </p>
      <p>Executive, Placement Department</p>
      <p>9769446574</p>

      <b>DISCLAIMER: This message is intended only for the ordinary use by the
        person to whom it is addressed and may contain information that is
        confidential and privileged under applicable laws, or otherwise
        protected by work product immunity or other legal rules. No one else may
        copy or forward all or any of it in any form. If you are not the
        intended recipient, you are hereby notified that any use, review or
        disclosure or copying of this message and information it contains is
        prohibited. If you have received this message in error, please notify
        the sender by reply e-mail and then delete it from your system. Thank
        you.</b>
    </section>
  </body>

</html>