body{
  background-color: #f8fafb !important;
}

.login {
  width: 100%;
  /* min-height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.login img {
  width: 100%;
  height: 500px;
}

.login .avatar {
  width: 50px;
  height: 50px;
  padding: 10px;
  background-color: rgba(128, 0, 70, 0.783);
}

.login .heading{
  display: flex;
  justify-content: start !important;
  font-size: 2rem;
  font-weight: 600;
}

.login .heading2{
  display: flex;
  justify-content: start !important;
  font-size: 1rem;
  font-weight: 500;
  text-align: left !important;
}

.login .MuiSvgIcon-root{
  font-size: 2rem !important;
  margin-right: 1rem !important;
}

@media (max-width:900px){
  .login img{
    display: none !important;
  }
}